{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "stylesheets/login.css" %}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        $(function(){
            // Habilita o popover
            $("[data-toggle=popover]").popover();
        });
    </script>

    <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid" style="font-family: 'Germania One', cursive;">

        <!--MENU ESQUERDO-->

        <div class="navbar-header">
            <a class="navbar-brand" href="{% url "dashboard" %}"  style="font-size: 25px;"><i class="logo ion-cube"></i> LifeBox</a>
            <!--ESTA CONDIÇÃO (IF) É RESPONSÁVEL POR EXIBIR O MENU PRINCIPAL, SOMENTE SE USUÁRIO ESTIVER LOGADO-->
            <!--adicionado por Márcio Ribeiro em 05/out-->
            {% if request.user.is_authenticated %}
                <a href="{% url "monitor" %}"    class="navbar-brand" style="font-size: 25px; text-decoration: none;"><i class="glyphicon glyphicon-heart"></i> Monitorar Orgão</a>
                <a href="{% url "dashboard" %}" class="navbar-brand" style="font-size: 25px; text-decoration: none;"><i class="glyphicon glyphicon-print"></i> Emitir Relatórios</a>
                <a href="{% url "dashboard" %}" class="navbar-brand" style="font-size: 25px; text-decoration: none;"><i class="glyphicon glyphicon-label"></i> Gerenciar Cadastros</a>
            {% endif %}

        </div>

        <div class="navbar-header">
            <!--<div class="navbar-brand navbar-right">Menu Item</div>-->
        </div>

        <!--MENU DIREITO-->
        <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
                <li>
                    <a href="#"
                        data-toggle="popover"
                        data-trigger="focus"
                        data-placement="bottom"
                        data-html="true"
                        data-content="<div style='width: 100px;'><a href='{% url "logout" %}' style='text-decoration: none;'><span class='glyphicon glyphicon-log-out'></span>Sair</a></div>">
                        <span class="glyphicon glyphicon-user"></span> {{ request.user.first_name }}
                    </a>
                </li>



            {% else %}
                <li><a href="{% url "login" %}"><span class="glyphicon glyphicon-log-in"></span> Entrar</a></li>
            {% endif %}
        </ul>

    </div>
</nav>


<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
