dist: trusty
sudo: true
language: python
python:
- '3.3'

jdk:
- oraclejdk8

addons:
  sonarqube:
    organization: "wilhsms-github"
    token:
      secure: "1d681fa74cf358d7bfcc02a14f4f9bc94e4b797f"

branches:
  only:
  - master  
script:
  - sonar-scanner
