{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap4 %}
{% block title %}LifeBox - Listagem de Caixas {% endblock %}
{% block custom_js %}
<!--Este bloco é destinado a biblioteca datatables-->
<link rel="stylesheet" href="{% static '/js/datatables/jquery.dataTables.min.css' %}" >
<script src="{% static '/js/datatables/jquery-1.12.4.js' %}"></script>
<script src="{% static '/js/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static '/js/datatables/config.js' %}"></script>
{% endblock%}

{% block content %}
<div class="jumbotron">
  <h2><i class="glyphicon glyphicon-folder-close"></i> Caixas</h2>
  <div class="row">
    <div class="col-sm-12">
      <div class="btn-group">
        <a href="{% url 'caixa_criar' %}" class="btn btn-success my-2 my-sm-0"><span class="fa fa-plus"></span> Novo</a>
      </div>
    </div>
  </div>
  <hr>
  <table id="busca" class="display nowrap" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Id</th>
        <th>Identificação da caixa</th>
        <th>Autorização</th>
        <th>Cor da tarja</th>
        <th>Descrição da caixa</th>
      </tr>
    </thead>
    <tbody>
      {% for caixa in caixas %}
        <tr>
          <td>
						<a href="{% url 'caixa_pesquisar' %}{{caixa.id}}">
							<span class="glyphicon glyphicon-edit"></span>{{caixa.id}}
						</a>
					</td>
          <td>{{caixa.idCaixa}}</td>
          <td>{{caixa.autorizacao}}</td>
          <td><div style="color : {{caixa.corCaixa}}">
                <i class="ion-cube"></i>
              </div>
          </td>
          <td>{{caixa.informacaoAdicional}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}