{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block title %}LifeBox - Equipe{% endblock%}
{% block content %}
<div class="jumbotron">
  <div class="row">
    <div class="col-sm-3">
      <img src="https://dummyimage.com/759x779" alt="João" class="img-thumbnail">
    </div>
    <div class="col-sm-9">
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-9 text-right">
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
    <div class="col-sm-3">
      <img src="https://dummyimage.com/759x779" alt="João" class="img-thumbnail">
    </div>
  </div>
  <hr>
<!-- -->
  <div class="row">
    <div class="col-sm-3">
      <img src="https://dummyimage.com/759x779" alt="João" class="img-thumbnail">
    </div>
    <div class="col-sm-9">
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-9 text-right">
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
    <div class="col-sm-3">
      <img src="https://dummyimage.com/759x779" alt="João" class="img-thumbnail">
    </div>
  </div>
  <hr>
<!-- -->
  <div class="row">
    <div class="col-sm-3">
      <img src="https://dummyimage.com/759x779" alt="João" class="img-thumbnail">
    </div>
    <div class="col-sm-9">
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-9 text-right">
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
    <div class="col-sm-3">
      <img src="https://dummyimage.com/759x779" alt="João" class="img-thumbnail">
    </div>
  </div>
  <hr>
<!-- -->
  <div class="row">
    <div class="col-sm-3">
      <img src="https://dummyimage.com/759x779" alt="João" class="img-thumbnail">
    </div>
    <div class="col-sm-9">
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-9 text-right">
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
    <div class="col-sm-3">
      <img src="https://dummyimage.com/759x779" alt="João" class="img-thumbnail">
    </div>
  </div>
  <hr>
<!-- -->
  <div class="row">
    <div class="col-sm-3">
      <img src="https://dummyimage.com/759x779" alt="João" class="img-thumbnail">
    </div>
    <div class="col-sm-9">
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-9 text-right">
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
    <div class="col-sm-3">
      <img src="https://dummyimage.com/759x779" alt="João" class="img-thumbnail">
    </div>
  </div>
  <hr>
<!-- -->
  <div class="row">
    <div class="col-sm-3">
      <img src="https://dummyimage.com/759x779" alt="João" class="img-thumbnail">
    </div>
    <div class="col-sm-9">
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-9 text-right">
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
    <div class="col-sm-3">
      <img src="https://dummyimage.com/759x779" alt="João" class="img-thumbnail">
    </div>
  </div>
  <hr>
<!-- -->
  <div class="row">
    <div class="col-sm-3">
      <img src="https://dummyimage.com/759x779" alt="João" class="img-thumbnail">
    </div>
    <div class="col-sm-9">
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-9 text-right">
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
    <div class="col-sm-3">
      <img src="https://dummyimage.com/759x779" alt="João" class="img-thumbnail">
    </div>
  </div>
  <hr>
<!-- -->
  <div class="row">
    <div class="col-sm-3">
      <img src="https://dummyimage.com/759x779" alt="João" class="img-thumbnail">
    </div>
    <div class="col-sm-9">
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-9 text-right">
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
    <div class="col-sm-3">
      <img src="https://dummyimage.com/759x779" alt="João" class="img-thumbnail">
    </div>
  </div>
  <hr>
<!-- -->
  <div class="row">
    <div class="col-sm-3">
      <img src="https://dummyimage.com/759x779" alt="João" class="img-thumbnail">
    </div>
    <div class="col-sm-9">
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-9 text-right">
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
    <div class="col-sm-3">
      <img src="https://dummyimage.com/759x779" alt="João" class="img-thumbnail">
    </div>
  </div>
  <hr>
<!-- -->
  <div class="row">
    <div class="col-sm-3">
      <img src="https://dummyimage.com/759x779" alt="João" class="img-thumbnail">
    </div>
    <div class="col-sm-9">
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-9 text-right">
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
    <div class="col-sm-3">
      <img src="https://dummyimage.com/759x779" alt="João" class="img-thumbnail">
    </div>
  </div>
  <hr>
<!-- -->
</div>
{% endblock %}
