{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}LifeBox - Equipe{% endblock%}
{% block content %}
<div class="jumbotron">

  <div class="row"><div class="col-sm-3">Aqui entra uma foto</div>
    <div class="col-sm-3">
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
    <div class="col-sm-6"></div>
  </div>

  <div class="row"> <div class="col-sm-6"></div>
    <div class="col-sm-3">
      <address>
        <strong>Twitter, Inc.</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
    <div class="col-sm-3">
    Aqui entra uma foto
    </div>
  </div>
<!-- -->
<div class="row"><div class="col-sm-3">Aqui entra uma foto</div>
  <div class="col-sm-3">
    <address>
      <strong>Twitter, Inc.</strong><br>
      1355 Market Street, Suite 900<br>
      San Francisco, CA 94103<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
  </div>
  <div class="col-sm-6"></div>
</div>

<div class="row"> <div class="col-sm-6"></div>
  <div class="col-sm-3">
    <address>
      <strong>Twitter, Inc.</strong><br>
      1355 Market Street, Suite 900<br>
      San Francisco, CA 94103<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
  </div>
  <div class="col-sm-3">
  Aqui entra uma foto
  </div>
</div>
<!-- -->
<div class="row"><div class="col-sm-3">Aqui entra uma foto</div>
  <div class="col-sm-3">
    <address>
      <strong>Twitter, Inc.</strong><br>
      1355 Market Street, Suite 900<br>
      San Francisco, CA 94103<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
  </div>
  <div class="col-sm-6"></div>
</div>

<div class="row"> <div class="col-sm-6"></div>
  <div class="col-sm-3">
    <address>
      <strong>Twitter, Inc.</strong><br>
      1355 Market Street, Suite 900<br>
      San Francisco, CA 94103<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
  </div>
  <div class="col-sm-3">
  Aqui entra uma foto
  </div>
</div>
<!-- -->
<div class="row"><div class="col-sm-3">Aqui entra uma foto</div>
  <div class="col-sm-3">
    <address>
      <strong>Twitter, Inc.</strong><br>
      1355 Market Street, Suite 900<br>
      San Francisco, CA 94103<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
  </div>
  <div class="col-sm-6"></div>
</div>

<div class="row"> <div class="col-sm-6"></div>
  <div class="col-sm-3">
    <address>
      <strong>Twitter, Inc.</strong><br>
      1355 Market Street, Suite 900<br>
      San Francisco, CA 94103<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
  </div>
  <div class="col-sm-3">
  Aqui entra uma foto
  </div>
</div>
<!-- -->
<div class="row"><div class="col-sm-3">Aqui entra uma foto</div>
  <div class="col-sm-3">
    <address>
      <strong>Twitter, Inc.</strong><br>
      1355 Market Street, Suite 900<br>
      San Francisco, CA 94103<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
  </div>
  <div class="col-sm-6"></div>
</div>

<div class="row"> <div class="col-sm-6"></div>
  <div class="col-sm-3">
    <address>
      <strong>Twitter, Inc.</strong><br>
      1355 Market Street, Suite 900<br>
      San Francisco, CA 94103<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
  </div>
  <div class="col-sm-3">
  Aqui entra uma foto
  </div>
</div>
<!-- -->
<div class="row"><div class="col-sm-3">Aqui entra uma foto</div>
  <div class="col-sm-3">
    <address>
      <strong>Twitter, Inc.</strong><br>
      1355 Market Street, Suite 900<br>
      San Francisco, CA 94103<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
  </div>
  <div class="col-sm-6"></div>
</div>

<div class="row"> <div class="col-sm-6"></div>
  <div class="col-sm-3">
    <address>
      <strong>Twitter, Inc.</strong><br>
      1355 Market Street, Suite 900<br>
      San Francisco, CA 94103<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
  </div>
  <div class="col-sm-3">
  Aqui entra uma foto
  </div>
</div>
<!-- -->
<div class="row"><div class="col-sm-3">Aqui entra uma foto</div>
  <div class="col-sm-3">
    <address>
      <strong>Twitter, Inc.</strong><br>
      1355 Market Street, Suite 900<br>
      San Francisco, CA 94103<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
  </div>
  <div class="col-sm-6"></div>
</div>

<div class="row"> <div class="col-sm-6"></div>
  <div class="col-sm-3">
    <address>
      <strong>Twitter, Inc.</strong><br>
      1355 Market Street, Suite 900<br>
      San Francisco, CA 94103<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
  </div>
  <div class="col-sm-3">
  Aqui entra uma foto
  </div>
</div>
<!-- -->
<div class="row"><div class="col-sm-3">Aqui entra uma foto</div>
  <div class="col-sm-3">
    <address>
      <strong>Twitter, Inc.</strong><br>
      1355 Market Street, Suite 900<br>
      San Francisco, CA 94103<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
  </div>
  <div class="col-sm-6"></div>
</div>

<div class="row"> <div class="col-sm-6"></div>
  <div class="col-sm-3">
    <address>
      <strong>Twitter, Inc.</strong><br>
      1355 Market Street, Suite 900<br>
      San Francisco, CA 94103<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
  </div>
  <div class="col-sm-3">
  Aqui entra uma foto
  </div>
</div>
<!-- -->
<div class="row"><div class="col-sm-3">Aqui entra uma foto</div>
  <div class="col-sm-3">
    <address>
      <strong>Twitter, Inc.</strong><br>
      1355 Market Street, Suite 900<br>
      San Francisco, CA 94103<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
  </div>
  <div class="col-sm-6"></div>
</div>

<div class="row"> <div class="col-sm-6"></div>
  <div class="col-sm-3">
    <address>
      <strong>Twitter, Inc.</strong><br>
      1355 Market Street, Suite 900<br>
      San Francisco, CA 94103<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
  </div>
  <div class="col-sm-3">
  Aqui entra uma foto
  </div>
</div>
<!-- -->
<div class="row"><div class="col-sm-3">Aqui entra uma foto</div>
  <div class="col-sm-3">
    <address>
      <strong>Twitter, Inc.</strong><br>
      1355 Market Street, Suite 900<br>
      San Francisco, CA 94103<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
  </div>
  <div class="col-sm-6"></div>
</div>

<div class="row"> <div class="col-sm-6"></div>
  <div class="col-sm-3">
    <address>
      <strong>Twitter, Inc.</strong><br>
      1355 Market Street, Suite 900<br>
      San Francisco, CA 94103<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
  </div>
  <div class="col-sm-3">
  Aqui entra uma foto
  </div>
</div>
<!-- -->







</div>
{% endblock %}
