{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Altere sua senha{% endblock %}
{% block content %}
  <h1>Altere sua senha</h1>
  <p>Utilize o formulario abaixo para alterar sua senha.</p>
    <form action="." method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Alterar
                </button>
            {% endbuttons %}
        </form>
{% endblock %}