{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Redefina sua senha{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1>Redefina sua senha</h1>
    </div>
    {% if validlink %}
        <p>Por favor insira sua nova senha duas vezes:</p>
        <form action="." method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Redefinir minha senha
                </button>
            {% endbuttons %}
        </form>
    {% else %}
        <p>Link para redefinição de senha invalido, possivelmente por que ele estava em uso. Por favor repita a operacao.</p>
    {% endif %}

{% endblock %}