{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Redefina sua senha{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1>Esqueceu sua Senha?</h1>
        <p>Informe seu endereço de e-mail para obter uma nova senha.</p>
    </div>
    <form action="." method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Enviar e-mail
            </button>
        {% endbuttons %}
    </form>

{% endblock %}