/*Responsavel pelos titulos do modal*/
.texto_detalhes_modal{
  margin-top: 5px;
  padding-left: -5px;
  border-bottom: 2px solid !important;
  border-bottom-color: #575866 !important;
  background: #DDE0E3;
  padding: 2px 4px 2px 7px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 16px;

}
/*Responsavel pelo texto do cabeçalho do modal*/
.texto_cabeçalho{
    font-size: 19px;
}
/*Responsavel pelos textos antes das variáveis do modal*/
.texto_detalhe_modal{
    margin-bottom: 1px;
    font-weight: bold;

}
/*Responsavel pela logo tipo no topo do modal*/
.imagem_relatorio_modal{
    width: 80px;
    margin-left: 12px;
    margin-top: 5px;
}   
/*Responsavel pelo texto superior do modal*/
.texto_modal{
    margin-top: 15px;
 
 }