<h5 class="texto_detalhes_modal">INFORMAÇÕES SOBRE O EQUIPAMENTO</h5>
<div class="col-xl-12">
    <p class="texto_detalhe_modal">Caixa:</p>
    <label>'+viagem.caixa.idCaixa+'</label>
    <p class="texto_detalhe_modal">LifeBox:</p>
    <label>'+ viagem.equipamento.idEquipamento+'</label>
</div>
<h5 class="texto_detalhes_modal">INFORMAÇÕES SOBRE O TRAJETO</h5>
<div class="col-xl-12">
    <p class="texto_detalhe_modal">Local de partida:</p>
    <label>'+viagem.localPartida.nome+'</label>
    <p class="texto_detalhe_modal">Local de chegada:</p>

    <label>'+ viagem.localChegada.nome+'</label>

    <h5 class="texto_detalhes_modal">DETALHAMENTO DA VIAGEM</h5>
    <table border="0" class="table table-striped">
        <thead>
            <tr>
                <th>DATA/HORA</th>
                <th>TOMBOU</th>
                <th>VIROU</th>
                <th>TEMPERATURA</th>
            </tr>
        </thead>
        <tbody>'+ detalhesHtml + '
        </tbody>
    </table>'