{% extends "base.html" %}
<!---->
{% load account_tags %}
<!---->
{% block title %}LifeBox - Pesquisa Viagens{% endblock %}
<!---->
{% block content%}

<div class="jumbotron">
  <h2>
    <i class="glyphicon glyphicon-th-list"></i> Viagens</h2>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <div class="btn-group">
        <a href="{% url 'viagem_criar' %}" class="btn btn-default my-2 my-sm-0">Novo</a>
      </div>
    </div>
  </div>
  <hr>
  <!-- <div class="row">
    <div class="col-md-3 offset-md-9">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Digite o valor desejado" />
        <span class="input-group-addon">
          <a href="#">
            <i class="glyphicon glyphicon-search"></i>
          </a>
        </span>
      </div>
    </div>
  </div> -->
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Local de Partida</th>
        <th>Local de Chegada</th>
        <th>Caixa</th>
        <th>Equipamento</th>
      </tr>
    </thead>
    <tbody>
      {% for viagem in viagens %}
      <tr>
        <td>
          <a href="{% url 'viagem_pesquisar' %}{{viagem.id}}">{{viagem.id}}</a>
        </td>
        <td>{{viagem.localPartida}}</td>
        <td>{{viagem.localChegada}}</td>
        <td>{{viagem.caixa}}</td>
        <td>{{viagem.equipamento}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}