{% extends "base.html" %}
{% load account_tags %}
{% block title %}LifeBox{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1>Olá, Seja Bem Vindo</h1>

        <p>Obrigado por sua visita.</p>
        <em>Em breve você poderá acompanhar em tempo real, o monitoramento de transportes de orgãos humanos.</em>
        <br>
        <em>Neste Sprint, entregaremos o sistema de cadastro de usuários e ambinete de login.</em>

        <!--<p>Ainda estamos implantando este sistema.<br>
        <b>Pedimos desculpas pelo transtorno</b></p>-->

        <br/><br/><br/>

        Até o momento <b> {% total_people%} </b> pessoas tentaram acessar este painel de controle.
    </div>


    <!-- {% social_people %} -->



{% endblock %}
