{% extends "base.html" %}
{% load account_tags %}
{% block title %}LifeBox{% endblock %}
{% block content %}

<!-- Testando a insercao de botao para separar os modulos no cadastros -->


    <div class="jumbotron">
        <h1>Tela de Gerenciar Cadastros...</h1>

        <p>Olá {{ request.user.first_name }};</p>
        <em>Nesta página será possível cadastrar hospitais, viagens, caixas, hardware e usuários.</em>
        <br>

        <!--<em>Neste Sprint, entregaremos o sistema de cadastro de usuários e ambinete de login.</em>
        <p>Ainda estamos implantando este sistema.<br>
        <b>Pedimos desculpas pelo transtorno</b></p>-->

        <br/><br/><br/>

        Até o momento <b> {% total_people%} </b> pessoas tentaram acessar este painel de controle.
    </div>


    <!-- {% social_people %} -->



{% endblock %}
