a:hover, a:focus, a:active, a:visited, a:link {
    text-decoration: none;
}

@media (min-width: 768px) {
    .kpx_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

body {
    font-family: 'Titillium Web', sans-serif;
}

a {
    /*color: #ff5400;*/
    color: rgba(0,0,0,.5);
}

a:hover {
    opacity: 0.8;
    /*color: #ff5400;*/
    color: rgba(0,0,0,.5);
    text-decoration: none;
}

.kpx_login .kpx_authTitle {
    text-align: center;
    line-height: 300%;
}

.kpx_login .kpx_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.kpx_login .kpx_loginOr .kpx_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.kpx_login .kpx_loginOr .kpx_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}

.kpx_login .kpx_loginForm .input-group.i {
    width: 2em;
}

.kpx_login .kpx_loginForm .help-block {
    color: red;
}

@media (min-width: 768px) {
    .kpx_login .kpx_forgotPwd {
        text-align: right;
        margin-top: 10px;
    }
}

i.logo {
    -webkit-transition: color 2s;
    -webkit-animation: colorchange 4s infinite;
}
@keyframes colorchange{
  0%   {color: grey;}
  100% {color: #ff5050;}
}

@-webkit-keyframes colorchange{
    0%   {color: grey;}
    100% {color: #ff5050;}
}

label.title-full-width {
    display: block;
    color: white;
    background-color: rgba(11, 98, 164, 0.59);
    border-radius: 5px;
    padding: 9px 0 9px 15px;
}


#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    height: 100%;
}

#custom-search-input > .list-group{
    max-height: 460px;
    overflow-y: scroll;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

#aba-dados-viagem{
    background-color: rgba(11, 98, 164, 0.59);
    border-radius: 5px
}

#aba-dados-viagem .nav-item .nav-link{
    color: white;
}
#aba-dados-viagem .nav-item .nav-link.active{
    background-color: rgba(37, 115, 174, 0.59);
}
