{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block title %}LifeBox - Nova Viagem{% endblock%}
{% block content %}
<div class="jumbotron">
  <h2><i class="glyphicon glyphicon-plane"></i> Adicionar Nova Viagem</h2>

  <form method="post">
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group">
          <button type="submit" class="btn btn-success my-2 my-sm-0"><span class="fa fa-check"></span> Salvar </button>
          <a href="{% url 'viagem_pesquisar' %}" class="btn btn-secondary my-2 my-sm-0"><span class="fa fa-undo"></span> Voltar </a>
        </div>
      </div>
    </div>
    <hr> 
    {% csrf_token %} 
    <div class="row">
      <div class="col-sm-6">
        {% bootstrap_field form.localPartida%}
      </div>
      <div class="col-sm-6">
        {% bootstrap_field form.localChegada%}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        {% bootstrap_field form.caixa%}
      </div>
      <div class="col-sm-6">
        {% bootstrap_field form.equipamento%}
      </div>
    </div>
    <div class="btn-group">
      <button type="submit" class="btn btn-success my-2 my-sm-0"><span class="fa fa-check"></span> Salvar </button>
      <a href="{% url 'viagem_pesquisar' %}" class="btn btn-secondary my-2 my-sm-0"><span class="fa fa-undo"></span> Voltar </a>
    </div>
  </form>
</div>

{% endblock %}

