<!--Extensao-->
{% extends "base.html" %}

<!--Carrega Libs-->
{% load staticfiles %} {% load account_tags %} {% load bootstrap3 %}

<!--Titulo da Pagina-->
{% block title %}LifeBox - Nova Viagem{% endblock%}

<!--Conteudo-->
{% block content %}

<div class="jumbotron">
  <h2>
    <i class="glyphicon glyphicon-share"></i> Adicionar Nova Viagem
  </h2>
  <br>
  <form method="post">
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group">
          <button type="submit" class="btn btn-default my-2 my-sm-0">Salvar</button>
          <a href="{% url 'hospital_pesquisar' %}" class="btn btn-default my-2 my-sm-0">Voltar</a>
        </div>
      </div>
    </div>
    <hr> {% csrf_token %} {% bootstrap_form form %}
  </form>
</div>

{% endblock %}