{% extends "cadastro_base.html" %}
{% block title %}LifeBox - Viagens{% endblock %}
{% block content %}

<div class="jumbotron">
  <h2><i class="glyphicon glyphicon-plane"></i> Viagens</h2>
  <div class="row">
    <div class="col-sm-12">
        <div class="btn-group">
            <a href="{% url 'viagem_criar' %}" class="btn btn-success my-2 my-sm-0"><span class="fa fa-plus"></span> Novo </a>
            <a href="{% url 'viagem_exportar' %}" class="btn btn-success my-2 my-sm-0"><span class="fa fa-download"></span> Exportar </a>
        </div>

    </div>
  </div>
  <hr>
  <table id="busca" class="display nowrap" cellspacing="0" width="100%">

    <thead>
      <tr>
        <th>Id</th>
        <th>Local de Partida</th>
        <th>Local de Chegada</th>
        <th>Caixa</th>
        <th>Equipamento</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for viagem in viagens %}
      <tr>
        <td>
          <a href="{% url 'viagem_pesquisar' %}{{viagem.id}}">
            <span class="glyphicon glyphicon-edit"> </span>{{viagem.id}}
          </a>
        </td>
        <td>{{viagem.localPartida}}</td>
        <td>{{viagem.localChegada}}</td>
        <td>{{viagem.caixa}}</td>
        <td>{{viagem.equipamento}}</td>
        <td>{{viagem.status}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#busca').DataTable().destroy();
    
    options["ordering"] = false;
    
    $('#busca').DataTable(options);
  });
</script>
{% endblock %}
